@{
    var errorMessage = TempData["ErrorMessage"] as string;
}
<div>
    @if (!String.IsNullOrEmpty(errorMessage))
    {
        <h2>Ошибка: @errorMessage</h2>
    }
    <a href="/Authorization/LoginForm">Вернуться назад</a>
</div>