<h1>Админ панель</h1>

<ul>
    <li><a asp-controller="Admin" asp-action="WatchOrders" asp-area="Admin">Заказы</a></li>
    <li><a asp-controller="User" asp-action="WatchUsers" asp-area="Admin">Пользователи</a></li>
    <li><a asp-controller="Role" asp-action="WatchRoles" asp-area="Admin">Роли</a></li>
    <li><a asp-controller="Product" asp-action="WatchProducts" asp-area="Admin">Продукты</a></li>
</ul>